<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Example</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <script src="lib/require.js"></script>
    <script>
        requirejs(['./config'], function () {
            requirejs(['main']);
        });
    </script>
</head>
<body>
<template id="sidebar">
    <ul>
        <li v-for="product in sidebar">
            <a v-link="{ path: '/product/' + product.title }"
               v-bind:class="[ isSelected(product) ? 'selected-product' : '' ]">
               {{ product.title }}
            </a>
            <ul>
                <li v-for="section in product.sections">
                    <a v-link="{ path: '/product/' + product.title + '/section/' + section.title }"
                       v-bind:class="[ isSelected(product, section) ? 'selected-product' : '' ]">
                        {{ section.title }}
                    </a>
                    <ul>
                        <li v-for="field in section.fields">
                            <a v-link="{path:
                                '/product/' + product.title +
                                '/section/' + section.title +
                                '/field/' + field.title
                               }"
                               v-bind:class="[ isSelected(product, section, field) ? 'selected-product' : '' ]">
                                {{ field.title }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</template>

<template id="shortcuts">
    <h2>Selected Product:</h2>
    <p>{{ $data.formState.selectedElement }}</p>
</template>

<template id="dump">
    <h2>State Dump:</h2>
    <pre>{{ $data.formState | json }}</pre>
</template>

<div id="app">
    <h2>Vuejs Example</h2>
    <app-sidebar></app-sidebar>
    <app-shortcuts></app-shortcuts>
    <app-state-dump></app-state-dump>
</div>
</body>
</html>
